@import 'bourbon';
@import 'neat';

//@import 'uikit-variables';
//@import 'uikit-mixins';
//@import 'uikit';

$f3-primary-color: #201910;

$f3-font-family: "Helvetica Neue", "Helvetica"; //"AveriaSans-Light"; //"Aller Light";
$f3-font-size: 16px;
$f3-small-vspace: 0.5em;

$f3-button-color: tint(lighten($f3-primary-color, 20%), 90%);

$f3-input-border-color: #eee;
$f3-input-font-size: $f3-font-size;
$f3-input-font-family: $f3-font-family;
$f3-input-line-height: 2ex;
$f3-input-padding: 4px;
$f3-input-focus-border-color: #A0CEF0;

$f3-display-padding: $f3-input-padding;

$f3-background-color: #fff;
$f3-highlight-background-color: tint(#00f, 80%);

html, body{
	margin: 0px;
	padding: 0px;
	min-height: 100%;
	background-color: #2D1429;
	font-family: $f3-font-family;
	line-height: 1.3em;
}

.menu {
	background-color: $f3-primary-color;
	color: #fff;
	padding: 1em;
	margin: -1em -1em 1em -1em;
}


@mixin f3-input-style(){
	font-family: $f3-input-font-family;
	font-size: $f3-input-font-size;
	padding: $f3-input-padding;
	border: 1px solid $f3-input-border-color;
	border-bottom: 1px solid #bbb;
	//border-radius: 3px;

	&:focus{
		outline: none;
		border-color: $f3-input-focus-border-color;
	}
}

.Input > #{$all-text-inputs} {
	@include f3-input-style();
	width: 100%;
}

.Form {
	padding: 1em;
}

.Input {
	width: 100%;
	display: inline-block;
}

body.Root{
	height: 100%;
	@include outer-container();
	padding: 1em;
	background-color: #fff;
}

.Window {
	@include span-columns(12);
	height: 100%;
}

.Form {
	width: auto;
}

.ChoiceInput {
	position: relative;

	.List {
		position: absolute;
		top: 100%;
		width: 100%;
		left: 0%;
		z-index: 1000;
		background-color: $f3-background-color;
		border: 1px solid $f3-input-border-color;
		padding: $f3-input-padding;

		& > .cursor {
			background-color: $f3-highlight-background-color;
		}

		& > :hover {
			background-color: tint(#f00, 80%);
		}
	}
}

.Field {
	margin: $f3-small-vspace 0px;
}

.CheckboxField {
	& > .Checkbox {
		float: left;
		display: inline-block;
	}

	& > .label{
		display: inline-block;
		padding-left: 0.5em;
	}
}


.Checkbox {
	width: auto;

	& > input{
		@include appearance(none);
		@include f3-input-style();
		display: inline-block;
		width: 1.3em;
		height: 1.3em;
		padding: 0em;
		margin: 0em;
		overflow: hidden;

		&:after {
			font-family: FontAwesome;
			display: inline-block;
			width: 1.1em;
			height: 1.1em;
			padding: 0.05em;
			color: #000;
			content: ""; //"\f0c8";
		}
		&:checked{
			&:after {
				content: "\f00c"; //"\f14a"; //
			}
		}
	}
}

.SelectBox {
	position: relative;

	& > .Display {
		@include f3-input-style();
		display: block;
	}
}

.ChoiceInput {
	&:after {
		@include f3-input-style();
		border: none;
		content: "\f107"; //"\f0d7"; //"\f13a"; //"\f078"; //;
		font-family: FontAwesome;
		display: inline-block;
		padding: 0em;
		margin: 0em;
		position: absolute;
		top: $f3-input-padding;
		right: 3.5 * $f3-input-padding;
		font-size: 80%;
		color: #bbb;
	}
}

.Display.label{
	font-size: 90%;
}

.Button{
	@include appearance(none);
	@include f3-input-style();
	background-color: $f3-button-color;
	border: 1px solid $f3-button-color;
	padding: $f3-input-padding 2 * $f3-input-padding;
	margin: 0em 0.5em 0.5em 0em;
	cursor: pointer;
	text-align: left;

	&:hover {
		background-color: tint($f3-button-color, 40%);
	}

	.fa {
		color: shade($f3-button-color, 75%);
	}
}

/*
.Button {
	@extend .uk-button;
}
*/

.Display.label {
	& > .fa + span {
		padding-left: $f3-input-padding;
	}
}

.cover {
	z-index: 100;
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	background-color: #000;
	opacity: 0.2;
}

.Dialog {
	z-index: 1000;
	position: fixed;
	left: 50vw;
	top: 20vh;
	background-color: #fff;

	height: auto;
	min-height: 200px;

	width: 400px;
	max-width: 80vw;

	margin-left: -200px;
	margin-top: -10vh;
	box-shadow:
		+0.5em 0.5em 1em #999,
		-0.5em 0.5em 1em #999
	;
	border-radius: 4px;
	overflow: hidden;

	& > .header {
		background-color: #eee;
		@include clearfix;

		& > .Display{
			float: left;
			padding: $f3-display-padding;
		}

		& > .Button {
			float: right;
			margin: 0px;
		}
	}
}

.ToggleButton {
	&.toggled {
		background-color: tint($f3-button-color, 70%);

		&:hover {
			background-color: tint($f3-button-color, 100%);
		}
	}
}

.FormField{
	& > .label{
		border-bottom: 1px solid #ccc;
	}
}
